<div class="container">
    <div class="form-container text-center">
        <form [formGroup]="myForm" (ngSubmit)="signIn()">
            <div class="row">
                <i class="pi pi-user" style="font-size: 5.5rem;color: #0d6efd;"></i>
                <div class="mb-3 mt-5">
                    <p-floatlabel>
                        <input pInputText type="email" class="form-control" id="email" formControlName="email" />
                        <label for="email" class="form-label">User</label>
                    </p-floatlabel>
                    @if (myForm.get('email')?.touched && myForm.get('email')?.invalid) {
                    <div class="text-danger">
                        Este campo es obligatorio
                    </div>
                    }
                </div>
                <div class="mb-3 mt-2">
                    <p-floatlabel>
                        <p-password class="d-grid"  formControlName="password"  [feedback]="false" [toggleMask]="true" />
                        <label for="password">Password</label>
                    </p-floatlabel>
                    @if (myForm.get('password')?.touched &&
                    myForm.get('password')?.invalid) {
                    <div class="text-danger">
                        Este campo es obligatorio
                    </div>
                    }
                </div>
                @if (loginError) {<div class="text-danger text-center mb-2 fs-6 text">
                    Usuario o contraseña incorrectos.
                    </div>
                }
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar</button>
                </div>
            </div>
        </form>
    </div>
</div>